<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-center titleFont">Add Budget</h2>
        <div class="card">
            <div class="card-body">
                <div class="text-center mt-3" *ngIf="wrongQuantity">
                    <span class="badge bg-danger textError">Budget must be greater than zero</span>
                </div>
                <input type="number" [(ngModel)]="quantity" class="form-control form-control-lg mt-3" placeholder="Add your Budget">
                <button class="btn btn-secondary btn-lg btn-block mt-2" (click)="add()">Accept</button>
            </div>
        </div>
    </div>
</div>