.backItem {
    background-color: #961E1E;
    height: 430px;
    border-radius: 20px;
    color: white;
}

.result {
    color: #12BD45;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.styleNum {
    font-size: 80px;
    font-weight: 700;   
    padding-top: 25px;
    padding-bottom: 45px;
}

.interpret {
    margin: 10px;
    font-size: 18px;
    text-align: center;
}