.backItem {
    background-color: #961E1E;
    height: 130px;
    border-radius: 20px;
    color: white;
}

.gender{
    font-size: 40px;
}

.styleNum {
    font-size: 32px;
    font-weight: 800;
    margin-top: -20px;
}

.cm  {
    font-size: 16px;
    font-weight: 400;
    margin-left: -10px;
}

.form-range {
    padding: 0px, 20px;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #FF3366;
}

.minusPlus {
    cursor: pointer;
    background-color: #FF4F5E;
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}

.deactivateGender {
    background-color: #752a2a;
}