/* You can add global styles to this file, and also import other style files */
.btn-xl {
    background-color: black;
    border-color: gray;
    padding: 1rem, 2rem;
    border-radius: 40px;
}

.btn-xl:hover {
    background-color: gray;
}